:root{
    --letraPrincial:16px;
    --paddingLR:3px;
    --borde:12px;
    --wid:96%;
}
*{
    font-size: var(--letraPrincial);
    text-decoration: none;
    list-style-type: none;
    padding-left: var(--paddingLR);
    padding-right: var(--paddingLR);
}
header{
    width: 96%;
    height: 230px;
    border-radius: var(--borde);
}
header h1{
    font-size: 3rem;
    padding-left: 1.25rem;
    padding-top: 2.5rem;
}
nav{
    margin-top: 0.4375rem;
    margin-bottom: 0.4375rem;
width: var(--wid);
height: 2rem;
border-radius: var(--borde);
padding-top: 0.0625rem;
padding-bottom: 1.25rem;
}
nav li{
    display: inline;
}
nav li a{
    font-size: 1rem;
}
section{
    display: inline-block;
    float: left;
    border-radius: var(--borde);
    width: 75%;
    margin-bottom: 7px;
}
aside{
    display:block;
    float:left;
    border-radius: var(--borde);
    width: 20%;
    margin-bottom: 7px;
    margin-left: 7px;
}
aside a{
    font-size: 1.25rem;
}
aside h2{
    text-align: center;
    font-size: 1.5em;
}
#pub{
    font-size: 1.5em;
}
footer{
    width: var(--wid);
    border-radius: var(--borde);
    clear: both;
    text-align: center;
    display: block;
    
}
#publi{
    padding-left: 25%;
    text-align: center;
    width: 120px;
}
#publi:hover{
    width: 130px;
}